<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme</key>
	<dict>
		<key>Blue</key>
		<dict>
			<key>ColorNavigation</key>
			<string>#869ED6</string>
			<key>ColorNavigationTint</key>
			<string>#FFFFFF</string>
			<key>ColorNavigationAttribute</key>
			<string>#FFFFFF</string>
			<key>ColorNavigationLight</key>
			<string>#B1C0E1</string>
			<key>ColorViewBackground</key>
			<string>#F2F2F2</string>
			<key>ColorButtonActive</key>
			<string>#869ED6</string>
			<key>ColorButtonInactive</key>
			<string>#B1C0E1</string>
			<key>ColorWhiteText</key>
			<string>#FFFFFF</string>
			<key>ColorDarkText</key>
			<string>#665B5A</string>
			<key>ColorLightText</key>
			<string>#9E9797</string>
			<key>ColorNavigationText</key>
			<string>#869ED6</string>
			<key>ColorRedText</key>
			<string>#FF0000</string>
			<key>ColorCellSelector</key>
			<string>#4E9E9797</string>
			<key>ColorCellBorder</key>
			<string>#E2E2E2</string>
			<key>ColorBuildingLogo</key>
			<string>#252525</string>
			<key>ColorClientLogo</key>
			<string>#821E47</string>
			<key>ColorBuildingAddress</key>
			<string>#252525</string>
			<key>ColorSideMenuDefault</key>
			<string>#9E9797</string>
			<key>ColorSideMenuSelected</key>
			<string>#869ED6</string>
			<key>ColorSideMenuBackground</key>
			<string>#F2F2F2</string>
			<key>ColorHeadingText</key>
			<string>#812046</string>
			<key>ColorBuildingLocationText</key>
			<string>#B6B4B4</string>
			<key>ColorBuildingScreenText</key>
			<string>#808080</string>
			<key>ColorFeatureLogo</key>
			<string>#4B9700</string>
			<key>ColorClockLogoBackground</key>
			<string>#6FB45F</string>
			<key>ColorBannerViewBackground</key>
			<string>#0000007F</string>
			<key>ColorBlackTextColor</key>
			<string>#231f20</string>
			<key>ColorLineDivider</key>
			<string>#D7D7D7</string>
			<key>ColorEditButton</key>
			<string>#87B55A</string>
			<key>ColorDeleteButton</key>
			<string>#ED6E6E</string>
			<key>ColorParkingSpotBG</key>
			<string>#F8F8F8</string>
			<key>ColorBorder</key>
			<string>#929191</string>
			<key>ColorElectricityBackground</key>
			<string>#6acad8</string>
			<key>ColorEnviormentTitle</key>
			<string>#FFFFFF</string>
			<key>ColorTemperatureBackground</key>
			<string>#EC9D9C</string>
			<key>ColorHuminityBackground</key>
			<string>#fdb375</string>
			<key>ColorCO2LevelBackground</key>
			<string>#4DB2E4</string>
			<key>ColorSubviewBackground</key>
			<string>#FFFFFF</string>
			<key>ColorTransparentBackground</key>
			<string>#00000000</string>
			<key>ColorDoneRequest</key>
			<string>#87b55a</string>
			<key>ColorInProgressRequest</key>
			<string>#fdb375</string>
			<key>ColorPendingRequest</key>
			<string>#ED6E6E</string>
			<key>ColorEventBackground</key>
			<string>#4db2e4</string>
			<key>ColorDisableTextBackground</key>
			<string>#D7D7D7</string>
			<key>ColorTextFieldBackground</key>
			<string>#FFFFFF</string>
			<key>ColorBuilgingWifi</key>
			<string>#B1C0E1</string>
			<key>ColorDarkHeadingText</key>
			<string>#812046</string>
			<key>ColorDarkThemeDarkText</key>
			<string>#665B5A</string>
			<key>ColorAddButton</key>
			<string>#812046</string>
			<key>ColorDateText</key>
			<string>#869ED6</string>
			<key>ColorVisitorLogoBackground</key>
			<string>#812046</string>
			<key>ColorVisitorTitle</key>
			<string>#812046</string>
			<key>ColorVisitorName</key>
			<string>#812046</string>
			<key>ColorVisitorDetailLogo</key>
			<string>#665B5A</string>
			<key>ColorVisitorDetailLogoTitle</key>
			<string>#665B5A</string>
			<key>ColorTagviewBackground</key>
			<string>#FFFFFF</string>
			<key>ColorTabbarSelectedText</key>
			<string>#869ED6</string>
			<key>ColorTabbarSelectedBackground</key>
			<string>#F2F2F2</string>
			<key>ColorTabbarDefaultBackground</key>
			<string>#FFFFFF</string>
			<key>ColorTabbarDefaultText</key>
			<string>#665B5A</string>
			<key>colorParkingAssignBackground</key>
			<string>#FFFFFF</string>
			<key>ColorVisitorDetailSubBackground</key>
			<string>#FFFFFF</string>
			<key>ColorVisitorDirectoryTitle</key>
			<string>#665B5A</string>
			<key>ColorAstrictSign</key>
			<string>#812046</string>
			<key>ColorProfileHeading</key>
			<string>#000000</string>
			<key>ColorNotificationUnread</key>
			<string>#FFFFE0</string>
			<key>ColorPopupViewBackground</key>
			<string>#F2F2F2</string>
			<key>colorMediumSeverity</key>
			<string>#e7a763</string>
			<key>colorHighSeverity</key>
			<string>#e65156</string>
			<key>colorLowSeverity</key>
			<string>#71a7cb</string>
			<key>colorSelectedParking</key>
			<string>#87b55a</string>
			<key>colorParkingReserved</key>
			<string>#B6B4B4</string>
			<key>colorAvailableParking</key>
			<string>#F2F2F2</string>
			<key>colorParkingAllotted</key>
			<string>#f2b27e</string>
			<key>colorActivityIndicator</key>
			<string>#000000</string>
			<key>colorHUDBackground</key>
			<string>#000000</string>
			<key>colorHUDActivity</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Dark</key>
		<dict>
			<key>ColorNavigation</key>
			<string>#012549</string>
			<key>ColorNavigationTint</key>
			<string>#FFFFFF</string>
			<key>ColorNavigationAttribute</key>
			<string>#FFFFFF</string>
			<key>ColorNavigationLight</key>
			<string>#B1C0E1</string>
			<key>ColorViewBackground</key>
			<string>#012C56</string>
			<key>ColorButtonActive</key>
			<string>#118ec9</string>
			<key>ColorButtonInactive</key>
			<string>#73CBF3</string>
			<key>ColorWhiteText</key>
			<string>#FFFFFF</string>
			<key>ColorDarkText</key>
			<string>#665B5A</string>
			<key>ColorLightText</key>
			<string>#9E9797</string>
			<key>ColorNavigationText</key>
			<string>#118ec9</string>
			<key>ColorRedText</key>
			<string>#FF0000</string>
			<key>ColorCellSelector</key>
			<string>#F2F2F2</string>
			<key>ColorCellBorder</key>
			<string>#E2E2E2</string>
			<key>ColorBuildingLogo</key>
			<string>#252525</string>
			<key>ColorClientLogo</key>
			<string>#821E47</string>
			<key>ColorBuildingAddress</key>
			<string>#252525</string>
			<key>ColorSideMenuDefault</key>
			<string>#808080</string>
			<key>ColorSideMenuSelected</key>
			<string>#012549</string>
			<key>ColorSideMenuBackground</key>
			<string>#F2F2F2</string>
			<key>ColorHeadingText</key>
			<string>#012549</string>
			<key>ColorBuildingLocationText</key>
			<string>#B6B4B4</string>
			<key>ColorBuildingScreenText</key>
			<string>#808080</string>
			<key>ColorFeatureLogo</key>
			<string>#4B9700</string>
			<key>ColorClockLogoBackground</key>
			<string>#6FB45F</string>
			<key>ColorBannerViewBackground</key>
			<string>#0000007F</string>
			<key>ColorBlackTextColor</key>
			<string>#231f20</string>
			<key>ColorLineDivider</key>
			<string>#D7D7D7</string>
			<key>ColorEditButton</key>
			<string>#87B55A</string>
			<key>ColorDeleteButton</key>
			<string>#ED6E6E</string>
			<key>ColorParkingSpotBG</key>
			<string>#F8F8F8</string>
			<key>ColorBorder</key>
			<string>#929191</string>
			<key>ColorElectricityBackground</key>
			<string>#6acad8</string>
			<key>ColorEnviormentTitle</key>
			<string>#FFFFFF</string>
			<key>ColorTemperatureBackground</key>
			<string>#EC9D9C</string>
			<key>ColorHuminityBackground</key>
			<string>#fdb375</string>
			<key>ColorCO2LevelBackground</key>
			<string>#4DB2E4</string>
			<key>ColorSubviewBackground</key>
			<string>#FFFFFF</string>
			<key>ColorTransparentBackground</key>
			<string>#00000000</string>
			<key>ColorDoneRequest</key>
			<string>#87b55a</string>
			<key>ColorInProgressRequest</key>
			<string>#fdb375</string>
			<key>ColorPendingRequest</key>
			<string>#ED6E6E</string>
			<key>ColorEventBackground</key>
			<string>#73caf3</string>
			<key>ColorDisableTextBackground</key>
			<string>#D7D7D7</string>
			<key>ColorTextFieldBackground</key>
			<string>#FFFFFF</string>
			<key>ColorBuilgingWifi</key>
			<string>#118ec9</string>
			<key>ColorDarkHeadingText</key>
			<string>#FFFFFF</string>
			<key>ColorDarkThemeDarkText</key>
			<string>#FFFFFF</string>
			<key>ColorDateText</key>
			<string>#118ec9</string>
			<key>ColorAddButton</key>
			<string>#118ec9</string>
			<key>ColorVisitorLogoBackground</key>
			<string>#118ec9</string>
			<key>ColorVisitorTitle</key>
			<string>#118ec9</string>
			<key>ColorVisitorName</key>
			<string>#FFFFFF</string>
			<key>ColorVisitorDetailLogo</key>
			<string>#B6B4B4</string>
			<key>ColorVisitorDetailLogoTitle</key>
			<string>#118ec9</string>
			<key>ColorTagviewBackground</key>
			<string>#FFFFFF1A</string>
			<key>ColorTabbarSelectedText</key>
			<string>#FFFFFF</string>
			<key>ColorTabbarSelectedBackground</key>
			<string>#012C56</string>
			<key>ColorTabbarDefaultBackground</key>
			<string>#FFFFFF1A</string>
			<key>ColorTabbarDefaultText</key>
			<string>#9E9797</string>
			<key>colorParkingAssignBackground</key>
			<string>#0000004D</string>
			<key>ColorVisitorDetailSubBackground</key>
			<string>#00000000</string>
			<key>ColorVisitorDirectoryTitle</key>
			<string>#118ec9</string>
			<key>ColorAstrictSign</key>
			<string>#118ec9</string>
			<key>ColorProfileHeading</key>
			<string>#FFFFFF</string>
			<key>ColorNotificationUnread</key>
			<string>#FFFFE0</string>
			<key>ColorPopupViewBackground</key>
			<string>#F2F2F2</string>
			<key>colorMediumSeverity</key>
			<string>#e7a763</string>
			<key>colorHighSeverity</key>
			<string>#e65156</string>
			<key>colorLowSeverity</key>
			<string>#71a7cb</string>
			<key>colorSelectedParking</key>
			<string>#87b55a</string>
			<key>colorParkingReserved</key>
			<string>#B6B4B4</string>
			<key>colorAvailableParking</key>
			<string>#F2F2F2</string>
			<key>colorParkingAllotted</key>
			<string>#f2b27e</string>
			<key>colorActivityIndicator</key>
			<string>#FFFFFF</string>
			<key>colorHUDBackground</key>
			<string>#FFFFFF</string>
			<key>colorHUDActivity</key>
			<string>#000000</string>
		</dict>
	</dict>
</dict>
</plist>
